.container {
  padding: 30px;
}

.heading {
  font-size: 28px;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border: 1px solid #ddd;
}

.table th {
  background: #0d6efd;
  color: white;
  padding: 12px;
}

.table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.actions {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.viewBtn {
  background: #6c757d;
  padding: 6px 12px;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.editBtn {
  background: #ffc107;
  padding: 6px 12px;
  border: none;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

.deleteBtn {
  background: #dc3545;
  padding: 6px 12px;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
